
<%= form_with scope: :movie, url: movies_path, local: true do |form| %> 

  <div class = "field">
    <%= form.label :Pelicula %><br>
    <% options = options_from_collection_for_select(@pelis, 'director', 'titulo') %>
    <%= form.select :all_val,  options %>
  </div>

  <p>
    <%= form.label :Calificacion %><br> 
    <%= form.text_field :String%> 
  </p> 
 
  <p> 
    <%= form.submit %> 
  </p> 

<% end %> 